.search__result {
    height: 100%;
    display: flex;
    justify-content: center;
}

.character__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    list-style: none;
    text-align: center;
    line-height: 25px;
    box-sizing: border-box;
    justify-self: center;
    padding: 300px 0 0; 
}

.character__container {
    box-sizing: border-box;
    width: 250px;
    padding: 0 10px;
}

@media all and (min-width:550px) {
    .character__list {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (min-width:800px) {
    .character__list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media all and (min-width:1050px) {
    .character__list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media all and (min-width:768px) {
    .character__list {
        padding-top: 150px;
    }
}